extends layout

block content     
  div.main-container
    h3 Scratch location
    br
    button.btn.btn-info(onclick='MakeError()') Make Error
  
   

  script.
    $(document).ready(function(){
       
    });
    function MakeError(){
      $.ajax({ url: 'logui/new_log_message', type: 'post', 
               data: {'entry': 'test error', 'priority': 3}
      });
    }