extends layout
block extrahead
  link(rel="stylesheet", href="stylesheets/jquery-ui.min.css")
  link(rel="stylesheet", href="stylesheets/tabulator_simple.min.css")
  script(src="javascripts/jquery-ui.min.js" type="text/javascript")
  script(src="javascripts/equipment_script.js", type="text/javascript")
  script(src="javascripts/datatables.min.js" type="text/javascript")
  script(src="javascripts/tabulator.min.js" type="text/javascript")

block content
  div.det_card_noheight#header
    span
      h5 DAQ Equipment Database
        span.float-right(style="display-inline;margin-bottom:5px")
          button.btn.btn-info(onclick="$('#newItemModal').modal()") New Entry
  table.table.table_hover#equipment_table(style="width:100%;height:100%;background:white")
    thead
      tr
        th Manufacturer
        th Model
        th Type
        th Serial
        th Status
        th Owner
        th
    tbody

  div.modal.fade#newItemModal(tabindex='-1' role='dialog')
    div.modal-dialog.modal-lg(role='document')
      div.modal-content
        div.modal-body
          h4 Add new equipment
          p
            span(style='font-size:14px;color:#666;line-height:normal')
              strong Note: &nbsp;
              span The 'serial' field can be provided as a list of comma-separated values denoting many serial numbers to be added with otherwise identical properties. All other values will be carried over as-is. This is meant for expert use, so I'm not implementing any input sanitization. Please take care to adhere to established naming conventions where applicable.
          - var atts = [['Manufacturer', 'manufacturer'], ['Model Nr.', 'model'], ['Serial Nr.', 'serial'], ['Module type', 'type'], ['Current location', 'location'], ['Status', 'status'], ['Purchaser or Owner', 'purchaser']];
          div.row
            each att in atts
              div.col-3(style='margin-bottom:3px')
                strong #{att[0]}
              div.col-9(style='margin-bottom:3px')
                input(type='text' name=`${att[1]}`, id=`input_${att[1]}` style='width:100%')
            div.col-3
              strong Comment
            div.col-9
              textarea(type='text' rows='2' name='comment' id='input_comment' style="width:100%")
          div.col-12
            button.btn.btn-info.float-right(onclick="SubmitNewForm()") Submit
          br

  div.modal.fade#detail_modal(tabindex='-1' role='dialog')
    div.modal-dialog.modal-lg(role='document')
      div.modal-content
        div.modal-body
          h4 
            span#detail_manufacturer &nbsp;
            span#detail_model
          hr
          div.row
            div.col-3
              strong Serial
            div.col-9
              span#detail_serial &nbsp;
              span.float-right
                i.fa.fa-edit#edit_serial
            div.col-3
              strong Type
            div.col-9
              span#detail_type
              span.float-right
                i.fa.fa-edit#edit_type
            div.col-3
              strong Location
            div.col-9
              span#detail_location
              span.float-right
                i.fa.fa-edit#edit_location
            div.col-3
              strong Status
            div.col-9
              span#detail_status
              span.float-right
                i.fa.fa-edit#edit_status
            div.col-3
              strong Owner
            div.col-9
              span#detail_purchaser
              span.float-right
                i.fa.fa-edit#edit_purchaser
            div.col-3
              strong Comment
            div.col-9
              span#detail_comment
              span.float-right
                i.fa.fa-edit#edit_comment
          a(data-toggle="collapse" href="#collapseHistory" role='button') Show History
          div.collapse#collapseHistory
            div.card.card-body Content

  script.
    
    $(document).ready(function () {
      DrawActiveLink("#lequipment");
      InitializeTable("#equipment_table");
     });

