extends layout

block content
    div.main-container(style='background-color:#eeeeee;margin:-5px;padding:15px;height:100vh')
        h3 data rate monitor help
        br
        h6 Introduction
        p This site runs and monitors the DAQ. The existence of this page signals my intention to some day write an actual users guide (which maskes it different to the main help site).
        





  script.
    $(document).ready(function(){
      DrawActiveLink("#lhelp");
    });
