extends layout

block content     
  div.main-container
    h3 User's Guide
    br
    h6 Introduction
    p This site runs and monitors the DAQ. The existence of this page signals my intention to some day write an actual users guide.
    h6 Basic Operation
    p Probably don't while the thing is in testing phase.
    h6 Troubleshooting
    p Ugh
    h6 More help
    p Check 
      a(href="https://www.amazon.com/s/ref=sr_qz_back?sf=qz%2Crba&rh=i%3Aaps%2Ck%3Aself+help+books&keywords=self+help+books&unfiltered=1&ie=UTF8&qid=1538133833") here
      span .
  
   

  script.
    $(document).ready(function(){
      DrawActiveLink("#lhelp");
    });