extends layout

block content     
  div.main-container Hosts placeholder
    hr
    span This page will have system monitor information from each connected host

  script.
    $(document).ready(function(){
      DrawActiveLink("#lhosts");
    });