extends layout
      

block content

  h1.
   Test DAQ Status
  ul
    each val, key in clients
      h3(id='host') 
      h3(id='hstatus')
      h3(id='hrate') 
      h3(id='hbuff')
  select(id='mode_select')
  button(onclick="ArmDAQ()", id="arm_button") Arm
  br
  br
  button(onclick="location.href='/start'", id="start_button") Start
  br
  br
  button(onclick="location.href='/stop'") Stop/Reset

  script.
    function ArmDAQ(){
      mode = $('#mode_select').val();
      var url_to_call = "/arm?mode="+mode;
      window.location.href = url_to_call;
    }
	
    $(document).ready(function () {

      $.getJSON('/modes', function(data){
        var html = "";
        for(var i=0; i<data.length; i+=1){
           html+="<option value='"+data[i]+"'>"+data[i]+"</option>";
        }
        document.getElementById("mode_select").innerHTML = html;
      });
      function Poll(){
        $.getJSON('/status_update', function(data) {
          for(var key in data){
            document.getElementById("host").innerHTML="Host: "+ key
            document.getElementById("hstatus").innerHTML="Status: "+ data[key]['status']
            document.getElementById("hrate").innerHTML="Rate: "+ data[key]['rate'] + " MB/s"
            document.getElementById("hbuff").innerHTML="Buffer: "+ data[key]['buffer_length'] + " events"
            if(data[key]['status']=='Idle'){
              document.getElementById("arm_button").disabled=false;
              document.getElementById("start_button").disabled=true;
            }
            else if(data[key]['status']=="Armed"){
              document.getElementById("arm_button").disabled=true;
              document.getElementById("start_button").disabled=false;
            }
            else {
              document.getElementById("arm_button").disabled=true;
              document.getElementById("start_button").disabled=true;
            }
            
          }
					
          setTimeout(Poll,1000);
        });
      }
      Poll();
    });