doctype html
html
  head
    title XENONnT Data Acquisition
    //link(rel="stylesheet", href="/bs/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/nodiaq_style.css")
    script(src="/javascripts/jquery.min.js" type="text/javascript")    
    script(src="/javascripts/highcharts.js" type="text/javascript")
    script(src="/javascripts/nodiaq.js" type="text/javascript")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")

    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous")
    meta(name="theme-color" content="#0c1178")
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="60x60" href="/images/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="/images/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed" sizes="76x76" href="/images/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed" sizes="152x152" href="/images/apple-touch-icon-152x152.png")
    link(rel="icon" type="image/png" href="/images/favicon-196x196.png" sizes="196x196")
    link(rel="icon" type="image/png" href="/images/favicon-96x96.png" sizes="96x96")
    link(rel="icon" type="image/png" href="/images/favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="/images/favicon-16x16.png" sizes="16x16")
    link(rel="icon" type="image/png" href="/images/favicon-128.png" sizes="128x128")
    meta(name="application-name" content="XENONnT DAQ")
    meta(name="msapplication-TileColor" content="#0c1178")
    meta(name="msapplication-TileImage" content="/images/mstile-144x144.png")
    meta(name="msapplication-square70x70logo" content="/images/mstile-70x70.png")
    meta(name="msapplication-square150x150logo" content="/images/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo" content="/images/mstile-310x150.png")
    meta(name="msapplication-square310x310logo" content="/images/mstile-310x310.png")

    //script(src="/bs/js/bootstrap.min.js" type="text/javascript")
    script(src="javascripts/chart.js" type="text/javascript")
    block extrahead
  body
    div.overlay    
    div.wrapper
      nav#topbar.colored.active
          button.navbar-btn.colored.sidebarCollapse(type="button")
            span.anticolored(style="background-color:white")
            span.anticolored(style="background-color:white")
            span.anticolored(style="background-color:white")
          span.pagetitle XENONnT DAQ
      div#sidebar_wrapper.active
        nav#sidebar.colored.active
          button.navbar-btn.colored.sidebarCollapse(type="button")
            span.anticolored
            span.anticolored
            span.anticolored
          div.sidebar-header.colored
            div.CTAs.desktop_title(style="width:100%;")
              img.second_logo(src="/images/nTLogoBar.svg")
              //
                div.headertitle               
                  h4 XENONnT Data Acquisition
          img.logo(src="/images/ntLogo.svg")
          div.detectorIconDiv(style="margin-top:0px;background:#0e0e75;height:30px;padding-top:5px;padding-left:3px")
            span.CTAs(style='float:left;color:white') &nbsp; Detector status: &nbsp;
            i.fa.fa-plus-circle#tpc_status_icon(style="color:gray;font-size:12px;float:left;padding-top:5px")
            span.CTAs(style='float:left;color:white') &nbsp; (TPC) &nbsp;
            i.fa.fa-plus-circle#muon_veto_status_icon(style="color:gray;font-size:12px;padding-left:3px;padding-top:5px;float:left")
            span.CTAs(style='float:left;color:white') &nbsp; (Muon Veto) &nbsp;
            i.fa.fa-plus-circle#neutron_veto_status_icon(style="color:gray;font-size:12px;padding-left:3px;padding-top:5px;float:left")
            span.CTAs(style='float:left;color:white') &nbsp; (Neutron Veto) &nbsp;
          ul.list-unstyled.components
            li.sectionlabel.CTAs(style='color:#0c1178;margin-top:0')
              span DAQ System
            li.colored.CTAs#lindex
               a(href="/")
                 //
                   span.fa-stack.has-badge#errorIcon(style="height:1.3em")
                 i.fas.fa-dumpster-fire
                 span Overview
                 span.extralabel Main DAQ landing page
            br
            li.colored#lcontrol
              a(href='/control') 
                i.fa.fa-wrench 
                span Control
                span.extralabel Start/Stop DAQ
            li.colored#lstatus
              a(href='/status')
                i.fa.fa-tasks
                span Status
                span.extralabel Detailed system status
            li.colored.CTAs#lhosts
              a(href='/hosts') 
                i.fa.fa-desktop
                span Hosts
                span.extralabel System monitor for DAQ machines
            li.colored.CTAs#loptions
              a(href='/options') 
                i.fa.fa-cogs
                span Config
                span.extralabel View or configure DAQ options
            li.colored.CTAs#llog
              a(href='/logui')
                i.fa.fa-book-open
                span Log
                span.extralabel View log and acnknowledge errors
            li.sectionlabel.CTAs(style='color:#0c1178')
              span Data and Monitoring
            li.colored#lruns
              a(href='/runsui')
                i.fas.fa-running
                span Runs
                span.extralabel User interface to the Runs DB
            li.colored#lmonitor
              a(href='/monitor')
                i.fa.fa-binoculars
                span Monitor
                span.extralabel Online data monitoring
            li.colored.CTAs#lscope
              a(href='/scope')
                i.fa.fa-heartbeat
                span Pulse Viewer
                span.extralabel View pulses from PMTs live
            li.colored#lhelp
              a(href='/help')
                i.fa.fa-question
                span Help
                span.extralabel Operator's quick reference
            li.sectionlabel.CTAs(style='color:#0c1178')
              span Operations and Organization
            li.colored#lshifts
              a(href='/shifts') 
                i.fa.fa-id-badge
                span Shifts
                span.extralabel Sign up for shifts
            li.colored.CTAs#lusers
              a(href='/users') 
                i.fa.fa-kiwi-bird
                span Users
                span.extralabel Browse members
            li.colored.CTAs#laccount
              a(href="/account") 
                i.fa.fa-user-astronaut
                span Profile
                span.extralabel Keep your info up to date                        
            li.colored.CTAs#lequipment
              a(href='/equipment')
                i.fa.fa-server
                span Equipment
                span.extralabel All our stuff
            br
            br
            li.colored.signout(style="background-color:#06d6a0")          
              a(href="/logout") 
                i.far.fa-hand-peace
                span Sign Out
      div#content(style="padding-left:5px;padding-right:5px;padding-top:0px;padding-bottom:0px")
        nav#errorbar 
          h5 
            i.fa.fa-exclamation-triangle
            span &nbsp; There are unacknowledged errors. Please go to the 
            a(href='/logui') log page 
            span to close them
        //
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
          div.container-fluid
        block content

    script.
      console.log('#{user.favorite_color}');
      //SetNavbar("#{user.favorite_color}");
      $(document).ready(function(){      

        CheckForErrors();
        $('.sidebarCollapse').on('click', function () {
          //$('#content').toggleClass('active');
          $('#sidebar').toggleClass('active');
          $('.overlay').toggleClass('active');
          $('#sidebar_wrapper').toggleClass('active');
                    $('.sidebarCollapse').toggleClass('active');
          $('#topbar').toggleClass('active');

        });
      });
