- var navmenu = { Control: '/status'}

doctype html
html
  head
    title= Xebra
    link(rel="stylesheet", href="/bs/css/bootstrap.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")
    script(src="/jq/jquery.min.js" type="text/javascript")
    script(src="https://code.highcharts.com/highcharts.js" type="text/javascript")
    script(src="/bs/js/bootstrap.min.js" type="text/javascript")
    script(src="javascripts/chart.js" type="text/javascript")
  body
    nav.navbar.navbar-inverse(role='navigation' style='border-top-width:-1px')
      button(type='button',data-toggle='collapse',data-target='#jcsnavbar-collapse-1').navbar-toggle
        span.sr-only Toggle navigation
        span.iconbar
        span.iconbar
        span.iconbar
      a(href='#' style='margin-left:-10px').navbar-brand
        strong('style=font-weight:900;font-variant:small-caps;font-size:26px;color:white') Xebra
        strong('style=font-weight:900;font-variant:small-caps;font-size:26px;color:white;margin-left:3px') DAQ

    div#jcs-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav
    
    block content
