extends layout
block extrahead
  link(rel="stylesheet", href="stylesheets/jquery-ui.min.css")
  link(rel="stylesheet", href="stylesheets/tabulator_simple.min.css")
  script(src="javascripts/jquery-ui.min.js" type="text/javascript")
  script(src="javascripts/logui_script.js", type="text/javascript")
  script(src="javascripts/tabulator.min.js" type="text/javascript")

block content
  div.main-container(style="width:100%;padding:25")

    div.input-group.mb-3#newentry(style='padding-top:5px')
      input.form-control#log_entry_box(type="text", name="entry", placeholder="New Log Entry...")
      div.input-group-append
        button.btn.btn-outline-secondary(type='submit' onclick="NewMessage()") Enter
    div.input-group.mb-3#priority(style='padding-top:5px')
      input#cb_message(style='margin-top:5px' type='checkbox' name='filter_message' checked)
      span &nbsp;Messages&nbsp;&nbsp;&nbsp;
      input#cb_open_warning(style='margin-top:5px' type='checkbox' name='filter_open_warning' checked)
      span &nbsp;Open Warnings&nbsp;&nbsp;&nbsp;
      input#cb_closed_warning(style='margin-top:5px' type='checkbox' name='filter_closed_warning' checked)
      span &nbsp;Closed Warnings&nbsp;&nbsp;&nbsp;
      input#cb_open_error(style='margin-top:5px' type='checkbox' name='filter_open_error' checked)
      span &nbsp;Open Errors&nbsp;&nbsp;&nbsp;
      input#cb_closed_error(style='margin-top:5px' type='checkbox' name='filter_closed_error' checked)
      span &nbsp;Closed Errors&nbsp;&nbsp;&nbsp;
      input#cb_debug(style='margin-top:5px' type='checkbox' name='filter_debug')
      span &nbsp;Debug&nbsp;&nbsp;&nbsp;
      input#cb_fatal(style='margin-top:5px' type='checkbox' name='filter_fatal' checked)
      span &nbsp;Fatal Errors&nbsp;&nbsp;&nbsp;
      input#cb_user_message(style='margin-top:5px' type='checkbox' name='filter_user' checked)
      span &nbsp;User Message&nbsp;&nbsp;&nbsp;
      button.btn.btn-sm.btn-outline-secondary(style="margin-top:-5px" type="submit" onclick="UpdateLogTable('#log_table')") Filter
      span &nbsp;&nbsp;
      button.btn.btn-sm.btn-warning#ack_button(style="margin-top:-5px" onclick="$('#error_modal').modal()") Acknowledge Errors
    table#log_table(style="width:100%;height:100%")

  div.modal.fade#error_modal(tabindex='-1' role='dialog')
    div.modal-dialog.modal-lg(role='document')
      div.modal-content
        div.modal-body
          h4 Close Open Errors
          hr
          h5 Step 1: Write something sensible describing how the error is solved
          textarea#sensible_input(style="width:90%;" rows='3' placeholder='Some sensible thing')
          br
          br
          h5 Step 2: Acknowledge you have at least a vague idea what you're doing
          input#close_error_ack(type='checkbox')
          span &nbsp;I acknowledge I have at least a vague idea what I'm doing&nbsp;
          br
          br
          h5 Step 3: Click 'submit' to close the errors
          button.btn.btn-primary(type='submit' onclick="CloseOpenErrors()") Submit

  script.
    var priorities=["DEBUG", "MESSAGE","WARNING", "ERROR", "FATAL"];
    document.newest_log = null;
    document.newest_run=-1;
    document.first_update = false;
    $(document).ready(function () {
      DrawActiveLink("#llog");
      InitializeTable("#log_table");
      UpdateLogTable("#log_table");
      CheckFlash();
     });

