extends layout

block extrahead
  
  link(href="stylesheets/status_style.css", rel="stylesheet")
  link(href="stylesheets/custom-select.css", rel="stylesheet")
  script(src="javascripts/highcharts-more.js", type='text/javascript')
  script(src="javascripts/solid-gauge.js", type='text/javascript')
    
block content
  - var tpc_readers = [["reader0", "reader0_reader_0"], ["reader1", 'reader1_reader_0'], ["reader2", 'reader2_reader_0'], ["Muon Veto", "reader5_reader_0"], ["Neutron Veto", "reader6_reader_0"]];
  - var tpc_controllers = [["TPC aux", "reader0_controller_0"], ["NV aux", "reader6_controller_0"], ["MV_aux", "reader5_controller_0"]];

  - var atts = ['active', 'comment', 'detector', 'hosts', 'crate_controller', 'diagnosis', 'mode', 'number', 'started_at', 'status', 'stop_after', 'user'];
  - var controller_atts = ['host', 'status', 'checkin'];
  - var controller_labels = ['Host', 'Status', 'Check-in'];
  //
  div.main-container(style='background-color:#eeeeee;margin:-5px;padding:15px;height:100vh')

    div.row(style='margin:0')
      strong(style='font-size:22px') Datarate
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#ffffff;")
        div.col
          object(type="image/svg+xml" id="svg_frame1" data="/images/monitor_tpc_layout.svg" style="width:auto;float:left;" class="tpcview" )
        div.col
          object(type="image/svg+xml" id="svg_frame2" data="/images/monitor_history.svg" style="width:auto;float:left" class="historyview" )
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
        div.col
          table
            tr
              td time displayed
              td
                input(id="field_current_timestamp")
              td
            tr
              td time start
              td
                input(id="field_history_start")
              td
            tr
              td time end
              td
                input(id="field_history_end")
              td
            tr
              td averaging time
              td 
                input(id="field_history_window")
        div.col
          h3 test
