extends layout

block extrahead
  link(rel="stylesheet" href="/stylesheets/overview.css")
  
block content
  div.main-container(style='background-color:#eeeeee;margin:-5px;padding:15px;height:100vh')

    div.row(style='margin:0')
      strong(style='font-size:22px') Datarate
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#ffffff;")
        div.col
         object(type="image/svg+xml" id="svg_frame1" data="/images/monitor_tpc_layout.svg" style="width:auto;float:left;" class="tpcview" )
        div.col
          object(type="image/svg+xml" id="svg_frame2" data="/images/monitor_history.svg" style="width:auto;float:left" class="historyview" )
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
        div.col
          table
            tr
              td time displayed
              td
                input(id="field_current_timestamp")
              td
            tr
              td time start
              td
                input(id="field_history_start")
              td
            tr
              td time end
              td
                input(id="field_history_end")
              td
            tr
              td averaging time
              td 
                input(id="field_history_window")
        div.col
          h3 test
