extends layout

block extrahead
  link(rel="stylesheet" href="/stylesheets/overview.css")
  
  script(src="javascripts/monitor_tpc_datarate.js", type='text/javascript')
  
  
block content
  div.main-container(style='background-color:#eeeeee;margin:-5px;padding:15px;height:100vh')
    div.row(style='margin:0')
      strong(style='font-size:22px') Datarate
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#ffffff;")
        div.col
         object(type="image/svg+xml" id="svg_frame1" data="/images/monitor_tpc_layout.svg" style="width:auto;float:left;" class="tpcview" )
        div.col
          object(type="image/svg+xml" id="svg_frame2" data="/images/monitor_history.svg" style="width:auto;float:left" class="historyview" )
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
        button.btn.btn-info(onclick="whiten_all_pmts()") reset colour
        &nbsp;
        button.btn.btn-default(onclick="move_all_pmt_pos('array')") show tpc geometry
        &nbsp;
        button.btn.btn-default(onclick="move_all_pmt_pos('hosts')") sort by reader
        &nbsp;
        button.btn.btn-info(onclick="start_live_interval()") show live data
        
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
        button.btn.btn-info(onclick="stop_intervals()") stop auto update
        &nbsp;
        button.btn.btn-default(onclick="jump_time(-10)") -10 s
        &nbsp;
        button.btn.btn-default(onclick="jump_time(-1)") -1 s
        &nbsp;
        button.btn.btn-default(onclick="jump_time(1)") +1 s
        &nbsp;
        button.btn.btn-default(onclick="jump_time(10)") +10 s
        &nbsp;
        button.btn.btn-info(onclick="pseudo_live()") playback
        
      div.row(style="width:100%;margin:0;padding-top:5px;background-color:#f0f0f0;")
          table
            tr
              td
                span(onclick="alert_sound()") time displayed
              td
                input(id="field_current_timestamp", value="-1")
              td
                button.btn.btn-default(onclick="get_TPC_data(document.getElementById('field_current_timestamp').value)") 👀
              td
                set maximum datarate
              td
                input(id="field_input_max_datarate", value="-1")
              td
                button.btn.btn-default(onclick="max_legend_set(document.getElementById('field_input_max_datarate').value)") set 
              
            tr
              td
                span(onclick="alert_sound(true)") time start
              td
                input(id="field_history_start", value="-1")
              td
                button.btn.btn-default(onclick="get_TPC_data(document.getElementById('field_history_start').value)") 👀
                &nbsp;
                button.btn.btn-default(onclick="usetimestamp('field_history_start')") ⏎
              td
                set minimum datarate
              td
                input(id="field_input_min_datarate", value="-1")
              td
                button.btn.btn-default(onclick="min_legend_set(document.getElementById('field_input_min_datarate').value)") set 
                
            tr
              td time end
              td
                input(id="field_history_end", value="-1")
              td
                button.btn.btn-default(onclick="get_TPC_data(document.getElementById('field_history_end').value)") 👀
                &nbsp;
                button.btn.btn-default(onclick="usetimestamp('field_history_end')") ⏎
            tr
              td averaging time
              td 
                input(id="field_history_window", value="10")
              td
                button.btn.btn-default(onclick="history_draw()") draw history
        

  audio#ahahah(src="images/alertsounds/alert-00.ogg")

  script.
    $(document).ready(function(){
    setTimeout(function(){
        initialize_pmts();
    }, 300);
    });
