extends layout

block extrahead

  script(src="javascripts/scope_script.js", type="text/javascript")
  link(href="stylesheets/custom-select.css", rel="stylesheet")
  script(src="javascripts/dygraph.min.js", type="text/javascript")
  link(href="stylesheets/dygraph.css", rel="stylesheet")

block content
  div.main-container
    h3 The Thingviewer
    div.row(style='width:100%')
      div.col-3
        h5 Options
        hr
        p
          strong Select a run: &nbsp;
          select.cselect#run_select(onchange="FillTargets()")
        p
          strong Select a data type: &nbsp;
          select.cselect#target_select(onchange="DisableChannelInput()")
        p
          strong Select a channel: &nbsp;
          input#channel_select(type='number' min=-1 max=494 value=0 name='channel')
        p
          strong Select the max number of entries: &nbsp;
          input#num_select(type='number' min=1 max=1000 value=1 name='num_select')
        p
          button.btn.btn-info#btndata(onclick="GetData()") Get Data
        p
          button.btn.btn-default(onclick="Prev()") Previous &nbsp;
          button.btn.btn-default(onclick="Next()") Next

      div.col-9
        div#chartdiv(style='width:100%')

    table(style="width:100%")
      thead#scopetab_head
      tbody#scopetab_body

    div.row
      div.col-4
        span
          strong A note on the y-axis: &nbsp;
        span
          If you're looking at records or raw_records, the amplitude is in ADC counts, otherwise it's PE/bin

  script.
    $(document).ready(function(){
      document.chart = null;
      DrawActiveLink("#lscope");
      PopulateAvailableRuns("run_select");
    });
