extends layout

block extrahead

  script(src="javascripts/scope_script.js", type="text/javascript")
  link(href="stylesheets/custom-select.css", rel="stylesheet")

block content     
  div.main-container
    h3 Live Scope
    br
    div.row(style='height:100%;max-height:600px;')
      div.col-3
        h5 Options
        hr
        strong Run: 
        select.cselect#run_select
        strong Channel: 
        input(type='number' min=0 max=248 name='channel') 
       
      div.col-9
        div#chartdiv   

  script.
    $(document).ready(function(){
      DrawActiveLink("#lscope");
      PopulateAvailableRuns("run_select");
    });