extends layout

block extrahead
  //link(rel="stylesheet", href="stylesheets/jquery.dataTables.min.css")
  link(rel="stylesheet", href="stylesheets/datatables.min.css")
  //script(src="javascripts/jquery.dataTables.min.js", type="text/javascript")
  script(src="javascripts/datatables.min.js", type="text/javascript")
  //script(src="https://cdn.datatables.net/plug-ins/1.10.19/dataRender/datetime.js", type="text/javascript")
  //script(src="https://cdn.datatables.net/plug-ins/1.10.19/features/pageResize/dataTables.pageResize.min.js", type="text/javascript")
  script(src="javascripts/datatables.pageResize.min.js", type="text/javascript")
  script(src="javascripts/moment.min.js", type="text/javascript")
  script(src="javascripts/users_table.js", type="text/javascript")
  link(rel="stylesheet", href="stylesheets/user_table.css")

block content
  div.main-container(style="height:100%;width:100%")
    table.main-table.table-hover.nowrap#users_table(style="width:100%;height:100%")

  div.modal#detailModal(tabindex="-1" role="dialog")
    div.modal-dialog(role="document")
      div.modal-content
        // div.modal-header
        //  h5.modal-title User Info
        //  button.close(type="button" data-dismiss="modal" aria-label="Close")
        //    span(aria-hidden="true")&times;
        div.modal-body
          div.row(style="width:100%")
            div.col-6#ppic
            div.col-6
              h5
                span#headerName
              h6
                span#headerInstitute
          hr
          table#info_table
          hr
          strong Groups:&nbsp;&nbsp;
          span#groups_div
          br
          button.btn.btn-sm.btn-default#add_group_button(onclick="AddGroup()") Add Group
          &nbsp;
          button.btn.btn-sm.btn-danger#remove_group_button(onclick="RemoveGroup()") Remove Group
          &nbsp;
          input#newgroupinput(type='text')
          input#user_id(type='text' hidden)
               
        div.modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close

  script.
    $(document).ready(function(){
      DrawActiveLink("#lusers");
      InitializeUsersTable("#users_table");
      console.log(#{user.groups});
    });