textarea {
    height: 2em;
    width: 50%;
    padding: 3px;
    transition: all 0.5s ease;
    margin-top: 10px;
}
textarea:focus {
    height: 10em;
    width: 80%;
}

table.dataTable tbody tr td {
    padding: 2px 4px;
    /*border-bottom: 1px solid #111;*/
}