#command_panel{
  max-height: 30vh;
  overflow-y: scroll;
  width: 100%;
  cursor: pointer;
}

.command_panel_entry{
    border: 1px solid #ccc;
    background-color: #fff;
    margin-top: -1px;
    border-right: 0px;

}

#command_panel a{
  font-color: black;
}

.panel-hover:hover{
  background-color: #eee;
}

.fullsizechart{
  width:100%;
  padding: 5px;
  padding-top: 1px;
  border: 1px solid #ccc;
  min-height:200px;
  height: 30%;
}

.chart_header{
  width:100%;
  height: 40px;
  border-bottom: 1px solid #ccc;
