.navbar {
    border-radius: 0;
    /*background-image: url("https://www.publicdomainpictures.net/pictures/130000/velka/seamless-zebra-pattern.jpg");*/
    background-color: black;
    background-position: center;
    
}


.navbar-brand{
/*    -webkit-text-stroke: 1px black;
    color: white;
    text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;    
*/
}

.main-container{
    margin-left: 150px;
    margin-right: 0;
    top: 0px;
    width: calc(100% - 150px);
    height: calc(100vh - 41px);
    padding:5px;
}

body {
  /*padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/

}

a {
  color: #00B7FF;
}

.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 41px;
    width: 150px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: white; /*#f5f5f5;*/
    border-right: 1px solid #eee;
  }
}

.sidebar-item{
    color: #5992c2;
    font-size: 18px;
    font-weight: bold;
}

.active_sidebar_link{
    color: red;
}
.reader_detail{
    width: 100%;
    height: 200px;
    margin-top: 5px;
    border: 1px solid #cccccc;    
}

.reader_header{
    width:100% + 2px;
    height: 30px;
    margin: -1px;
    padding: 0;
    padding-left:5px;
    padding-right:5px;
    border: 1px solid #cccccc;    
}

.reader_chartdiv{
    width: 100%;
    height: 170px;
    padding: 0;
    margin: 0;
}

.two-panel-div{
    height: calc(100vh - 52px);
    width: 100%;
    /*margin-left: 1px;
    margin-right:1px;*/
    border: 1px solid #cccccc;
    padding: 3px;
    background-color: white;
}

.form-label{
    color: #5992c2;
}
