#users_table thead tr{
	height: 50px;
}
#users_table tbody tr{
	height: 50px;
	border: 0px;
	border-bottom: 1px solid #aaa !important;
}
#users_table tbody td{
	border: 0px;
	border-bottom: 1px solid #ddd !important;
}
#users_table thead th{
	height: 50px;
	border: 0px;
	border-bottom: 3px solid #999;
}

.paginate_button a{
	color: #0c1178;
	background-color: white;
}
.paginate_button.active a{
	color: white;
	background-color: #0c1178 !important;
	border-bottom-color: #0c1178 !important;
	border-left-color: #0c1178 !important;
	border-right-color: #0c1178 !important;
	border-top-color: #0c1178 !important;
}
.paginate_button:disabled a{
	color: white;
	background-color: #999;
}

div.dataTables_length {
    display: none;
}

.dataTables_paginate {
	padding-top: 10px;
}

.leaver_row td{
	background-color: #ef476f10;
}